@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <H1 style="text-align:center;">Registro de Covid</H1>
    <H2 class="mb-3" style="text-align:center; font-size: 25px;">El siguiente formulario es para llevar el registro de casos reportados de <br>Covid por departamento y genero</H2>

    <div class="mt-5">
        <h3>Reportar Casos</h3>
    </div>

    <form class="mt-5" asp-action="CrearCasos">
        <div class="form-group row mb-4">

            <div class="col-sm-6">
                @Html.Label("lblDepartamento","Departamento")
                @Html.DropDownList("id_departamento",ViewData["listaDeDepartamentos"] as SelectList,"Seleccione un departamento...",new {@class="form-control form-select mt-3", required = "required"})
            </div>

            <div class="col-sm-6">
                @Html.Label("lblGenero","Genero")
                @Html.DropDownList("id_genero",ViewData["listaDeGeneros"] as SelectList,"Seleccione un genero...",new {@class="form-control form-select mt-3", required = "required"})
            </div>
        </div>

        <div class="form-group row mb-4">
            <div class="col-sm-4">
                @Html.Label("lblCasosConfirmados","Casos Confirmados")
                @Html.TextBox("confirmados","",new {@class="form-control mt-3", required = "required"})
            </div>
            <div class="col-sm-4">
                @Html.Label("lblNumRecuperados","Número de Recuperados")
                @Html.TextBox("recuperados","",new {@class="form-control mt-3", required = "required"})
            </div>
            <div class="col-sm-4">
                @Html.Label("lblNumFallecidos","Número de Fallecidos")
                @Html.TextBox("fallecidos","",new {@class="form-control mt-3", required = "required"})
            </div>

        </div>

        <div class="form-group row sm-12 mb-5">
            <input type="submit" class="btn btn-block btn-success" value="Guardar Registro" />
        </div>

        <hr/>
    </form>


    <div class="mt-5 mb-4">
        <h3>Casos Reportados</h3>
    </div>

    <table class="table table-striped mb-2">
        <thead>
            <tr>
                <th>Departamento</th>
                <th>Genero</th>
                <th>Confirmados</th>
                <th>Recuperados</th>
                <th>Fallecidos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var equipo in (IEnumerable<dynamic>)ViewData["listadoDeCasos"])
            {
                <tr>
                    <td>@equipo.departamentos</td>
                    <td>@equipo.generos</td>
                    <td>@equipo.confirm</td>
                    <td>@equipo.recuper</td>
                    <td>@equipo.fallec</td>
                </tr>
            }
        </tbody>
    </table>
    <H4 class="mb-3 mt-5" style="text-align:center; font-size: 25px;">Derechos Reservados © Juan Gómez y Diego Hernádez</H4>


</div>