@model IEnumerable<P2_2020HM601_2020GA603.Models.Generos>

@{
    ViewData["Title"] = "Generos";
}

<h1>Generos</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-success">Crear nuevo Genero</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.id_genero"><button type="button" class="btn btn-warning">Editar</button></a> |
                    <a asp-action="Details" asp-route-id="@item.id_genero"><button type="button" class="btn btn-info">Detalles</button></a> |
                    <a asp-action="Delete" asp-route-id="@item.id_genero"><button type="button" class="btn btn-danger">Eliminar</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
